<div class="card">
  <div id="Header-DishID-12345" class="bg-secondary">
    <button class="btn btn-block btn-secondary collapsed text-left" type="button" data-toggle="collapse" data-target="#Collapse-DishID-12345" aria-expanded="false" aria-controls="Collapse-DishID-12345">
      A Tasty Dish  <span class="badge badge-success">My Dish</span> <span class="float-right text-right"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> <i class="far fa-star"></i></span>
    </button>
  </div>

  <div id="Collapse-DishID-12345" class="collapse" aria-labelledby="Header-DishID-12345" data-parent="#dishList">
    <div class="card-body">
      <img class="img-fluid" src="/assets/images/bad-steak.jpg" />

      <h5>
        Made By Chef: Ralf Malf
      </h5>
    </div>
  </div>
</div>