<form>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter Your Starting Address" aria-label="StartAddress" aria-describedby="StartAddress" #address/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="StartAddress" (click)="setLocation(address.value)">Set Start Point</button>
    </div>
  </div>
</form>

<agm-map *ngIf="roadKills !== []" [latitude]="mapCenter.latitude" [longitude]="mapCenter.longitude" [zoom]="11">
  <agm-marker *ngFor="let roadKill of roadKills"
              [iconUrl]="'assets/images/icons/meat_2.png'"
              [latitude]="roadKill.geocoord._lat"
              [longitude]="roadKill.geocoord._long">
    <agm-info-window>
      <p>{{roadKill.species}}</p>
      <p>{{getDistanceFromUser(roadKill)}} Miles</p>
      <p>{{getDaysOld('11-05-2018')}} Days Old</p>
      <p><a href="https://www.google.com/maps/dir/?api=1&origin=Cincinnati+OH&destination={{roadKill.geocoord._lat}},{{roadKill.geocoord._long}}&travelmode=walking" target="_blank">Take me to the Meat!</a></p>
    </agm-info-window>
  </agm-marker>
</agm-map>

<button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#RoadkillMapFilter" aria-expanded="false" aria-controls="RoadkillMapFilter">
  Filter Roadkill
</button>

<div class="collapse" id="RoadkillMapFilter">
  <div class="card card-body">
    <form>
      <div class="form-group">
        <label for="RoadkillFilterSpecies">Animal Species</label>
        <select multiple class="form-control" id="RoadkillFilterSpecies">
          <option>Cat</option>
          <option>Dog</option>
          <option>Deer</option>
          <option>Squirrel</option>
          <option>Whale</option>
        </select>
      </div>
      <div class="form-group">
        <label for="RoadkillFilterDistance">Distance From Me</label>
        <div class="row">
          <input type="range" class="col-12 form-control-range custom-range" min="0" max="50" step="5" id="RoadkillFilterDistance">
          <div class="col-4">
            <small>0 mi</small>
          </div>
          <div class="col-4">
            slider value
          </div>
          <div class="col-4 text-right">
            <small>50 mi</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="RoadkillFilterFreshness">Freshness</label>
        <div class="row">
          <input type="range" class="col-12 form-control-range custom-range" min="0" max="7" step="1" id="RoadkillFilterFreshness">
          <div class="col-4">
            <small>1 day</small>
          </div>
          <div class="col-4">
            slider value
          </div>
          <div class="col-4 text-right">
            <small>7 days</small>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Apply Filter</button>
    </form>
  </div>
</div>
