<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Chef</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fas fa-crown"></i></th>
      <td><strong> Bill Barf</strong></td>
      <td>47</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ron Runs</td>
      <td>36</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Marie Meal</td>
      <td>34</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Marie Meal</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Martin Meal</td>
      <td>22</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Fred Flapjack</td>
      <td>19</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Brad Bronze</td>
      <td>18</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Don Donkey</td>
      <td>12</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Chuck Can</td>
      <td>7</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Larry Low</td>
      <td>3</td>
    </tr>
  </tbody>
</table>