<h4>
  Ingredients List
</h4>
<app-ingredients-list>
</app-ingredients-list>

<form>
  <div class="form-group">
    <label for="Ingredients">Add Ingredients</label>
    <div class="input-group">
      <input type="text" id="IngredientsAdd" class="form-control" placeholder="Add Ingredient">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" id="button-AddIngredient">+</button>
      </div>
    </div>
  </div>
</form>

<h4>
  Find Roadkill
</h4>
<app-road-kill-locator [roadKillFromDb]="roadKillFromDb"></app-road-kill-locator>
