<h3>
  A Tasty MEATup
</h3>

<h4>
  Ingredients
</h4>

<app-ingredients-list>
</app-ingredients-list>

<h4>
  Protien Locator
</h4>

<app-road-kill-locator>
</app-road-kill-locator>

<h4>
  Dishes
</h4>

<app-dish-judgement>
</app-dish-judgement>

<h4>
  Photos
</h4>

<div class="row">
  <p class="col-6" style="height:100px; overflow:hidden;">
    <img class="img-fluid" src="assets/images/grilling.jpg" />
  </p>
  <p class="col-6" style="height:100px; overflow:hidden;">
    <img class="img-fluid" src="assets/images/people-grillin.jpg" />
  </p>
  <p class="col-6" style="height:100px; overflow:hidden;">
    <img class="img-fluid" src="assets/images/roadkill.jpg" />
  </p>
  <p class="col-6" style="height:100px; overflow:hidden;">
    <img class="img-fluid" src="assets/images/parking-lot.jpg" />
  </p>
</div>

<h4>
  Discussion
</h4>

<div class="row discussion-block">
  <div class="col-2">
    <img class="img-fluid" src="assets/images/user-icon.png" />
  </div>
  <div class="col-10">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac nisl porttitor, commodo ipsum imperdiet, pulvinar augue. In tristique euismod venenatis. Etiam at semper libero. Vestibulum ultricies felis id velit.
  </div>
</div>

<div class="row discussion-block">
  <div class="col-2">
    <img class="img-fluid" src="assets/images/user-icon.png" />
  </div>
  <div class="col-10">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac nisl porttitor, commodo ipsum imperdiet, pulvinar augue. In tristique euismod venenatis. Etiam at semper libero. Vestibulum ultricies felis id velit.
  </div>
</div>